.menu-card{
border-radius:12px;
overflow:hidden;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
transition:0.3s;
background:white;
}

.menu-card:hover{
transform:scale(1.05);
}

.menu-img{
width:100%;
height:180px;
object-fit:cover;
}

.menu-body{
padding:10px;
}

.price{
font-weight:bold;
color:#28a745;
}

.category-title{
border-left:5px solid #ff6600;
padding-left:10px;
margin-bottom:20px;
}